.header {
    min-height: var(--header-height);
    background: var(--color-primary-bg); 
    padding: var(--x-layout-padding);
    display: flex;
    align-items: center;
    color: #fff;
    width: 100%;
    gap:40px;

}
.navContainer{
    list-style: none; 
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-between;
}


.logo {
    display: flex;
    align-items: center;
    color: #fff; 
    font-size: 24px; 
    font-weight: bold;
}

.buttonsContainer{
    display: flex;
    flex-direction: 'row';
    align-items: center;
    gap:35px
}